.header {
    height: 55px;
    display: flex;
    justify-content: space-between;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 16px;

    background-color: white;
    z-index: 100;
}

.left-section {
    display: flex;
    align-items: center;
}

.middle-section {
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 680px;
    align-items: center;
}

.right-section {
    width: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 0px;
    flex-shrink: 0;
}

.hamburger-menu {
    height: 24px;
    padding: 8px;
}

.youtube-logo {
    height: 20px;
    width: 93px;
    padding: 18px 14px 18px 16px;
}

.search-button {
    height: 38px;
    width: 66px;
    background-color: rgb(248, 248, 248);

    border: 0.667px solid rgb(192, 192, 192);
    border-radius: 0 19px 19px 0;

    margin-left: -1px;
    margin-right: 10px;

    position: relative;
    transition: background-color 0.15s;
}

.voice-search-button {
    height: 38px;
    width: 40px;
    background-color: rgb(242, 242, 242);
    border-radius: 19px;
    border: none;

    position: relative;
    transition: background-color 0.15s;
}

.search-bar {
    font-size: 20px;
    margin-left: 32px;
    padding: 0 4px;

    flex: 1;
    height: 38px;
    font-size: 16px;
    border: 0.667px solid rgb(192, 192, 192);
    border-radius: 19px 0 0 19px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}

.search-bar::placeholder {
    font-size: 16px;
    padding-left: 10px;
}

.search-icon {
    height: 25px;
}

.voice-search-icon {
    height: 24px;
}

.upload-icon {
    height: 24px;
}

.youtube-apps-icon {
    height: 24px;
}

.notifications-icon {
    height: 24px;
}

.current-user-picture {
    height: 32px;
    border-radius: 16px;
}

.body {
    padding-bottom: 1000px;
}

.notifications-icon-container {
    position: relative
}

.notifications-count {
    position: absolute;
    background-color: rgb(204, 0, 0);
    color: white;
    font-size: 11px;
    border-radius: 10px;
    top: -5px;
    right: -5px;
    padding: 2px 5px;
}

.header img:hover,
.header button:hover {
    cursor: pointer;
}

.search-button,
.voice-search-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip {
    position: absolute;
    background-color: gray;
    color: white;

    padding: 4px 8px;
    border-radius: 2px;

    font-size: 12px;

    bottom: -30px;
    opacity: 0;
    transition: opacity, 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip {
    opacity: 1;
}

.search-button:hover,
.voice-search-button:hover {
    background-color: rgb(235, 235, 235);
}